.MuiInputBase-input {
  color: #fff !important;
  font-size: 3.5rem !important;
  width: 290px !important;
  @media only screen and (max-width: 768px) and (min-width: 320px) {
    width: 200px !important;
    font-size: 2rem !important;
  }
}

.MuiInput-underline:before {
  border-color: #fff !important;
}

.MuiSvgIcon-root {
  // color: #fff !important;
}

.fc-media-screen {
  width: 100%;
}

.fc-col-header-cell {
  background-color: #0f4c81;
}
.fc-h-event {
  border-width: 0 !important;
}

.MuiPickersToolbar-toolbar {
  background-color: #0f4c81 !important;
}

.MuiButton-textPrimary {
  color: #0f4c81 !important;
}

.MuiPickersDay-daySelected {
  background-color: #0f4c81 !important;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #0f4c81 !important;
}


.fc-today-button {
  text-transform: capitalize;
}

.fc .fc-toolbar.fc-header-toolbar {
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
  .fc .fc-view-harness {
    height: 420px !important;
  }
}